{% extends "base.html" %}
{% block title %}メーカー一覧 | 積みゲーDB{% endblock title %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3">メーカー一覧</h1>
    <a href="{% url 'tsumigee_database:maker_create' %}"
       class="btn btn-primary">追加</a>
  </div>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th class="text-center">No.</th>
        <th>名前</th>
        <th>フリガナ</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      {% for maker in object_list %}
        <tr>
          <td class="text-center text-muted">{{ forloop.counter }}</td>
          <td><a href="{% url 'tsumigee_database:maker_detail' maker.pk %}">{{ maker.name }}</a></td>
          <td>{{ maker.furigana }}</td>
          <td class="text-center">
            <a href="{% url 'tsumigee_database:maker_update' maker.pk %}"
               class="text-secondary">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center text-muted">メーカーが登録されていません</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
